.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #307a8a;
  }
}

.toolbar {
  display: flex;
  gap: 12px;
  align-items: center;
}

.searchInput {
  width: 200px;
}
.inputField label {
  font-weight: 500 !important;
}
