* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#workbenchPageContent {
  max-width: 100%;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

#spCommandBar,
#CommentsWrapper,
[data-automationid="SiteHeader"],
#sp-appBar,
[data-automationid="SimpleFooter"] {
  display: none !important;
}

.sp-pageLayout-horizontalNav {
  margin: 0 !important;
}
[data-automation-id="contentScrollRegion"] {
  overflow-y: hidden !important;
}
