.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #307a8a;
    margin: 0;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 12px;

  .searchInput {
    width: 250px;
  }
}

.tableContainer {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.inputField label {
  font-weight: 500 !important;
}
.actionCell {
  display: flex;
  align-items: center;
  i {
    font-size: 13px !important;
  }
}
